DATABASE_URL=
EMAIL_TEST_MODE=
GEMINI_API_KEY=
JWT_SECRET=
MAX_UPLOAD_SIZE=
OWNER_EMAIL=
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_SERVER=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
UPLOAD_CHUNK_SIZE=